@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// VARIABLES
$headerColor: #c6c6c6;
$mainFont: 'Ubuntu', sans-serif;

// UNIVERSALS

html {
  body {
    height: 100%;
    width: 100%;
    background-color: #b5b3b3;
  }
}

.line {
  border-bottom: 1px solid #000;
  padding-bottom: 75px;
}


// HEADER
header {
  background-color: $headerColor;
  nav {
  font-family: $mainFont;
  }
}

.open .dropdown-menu{
  display: block;
}
//CAROUSEL
#carousel-example-generic {
  position: relative;
  bottom: 17px;
}

#img-resize {
  height: 720px;
  width: 100%;
}
// OVERVIEW
.ov-pic {
  height: 525px;
  width: 620px;
  border: 1px solid #000;
}

.ov-content {
  font-family: $mainFont;
  text-align: justify;
  padding-right: 35px;
}

// SERVICES

.page-break {
  margin-top: 50px;
  padding-top: 75px;
}

.serv-cont {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

#img-pad {
  padding-bottom: 100px;
}

// FOOTER

footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 120px;
  font: {
    size: 10px;
    family: $mainFont;
  }
  text-align: center;
  padding-top: 38px;
}
