@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// VARIABLES
$headerColor: #c6c6c6;
$mainFont: 'Playfair Display', serif;

// UNIVERSALS

html {
  body {
    height: 100%;
    width: 100%;
    background-color: #b5b3b3;
  }
}

.line {
  border-bottom: 1px dotted rgba(0,0,0,.4);
  padding-bottom: 75px;
}

.line:focus {
  outline: none;
}

a {
  cursor: pointer;
  cursor: hand;
}
// HEADER
header {
  background-color: $headerColor;
  nav {
  font-family: $mainFont;
  height: 90px;
  }
}

.navbar-brand {
  position:relative;
  top: 33px;
  padding-left: 45px;
  font-size: 25px;
}

.navbar-nav {
  position: relative;
  top: 35px;
  font-size: 18px;
}

.open .dropdown-menu{
  display: block;
}

.logo {
  transform: rotate(270deg);
  height: 100px;
  width: 70px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
}
//CAROUSEL
#carousel-example-generic {
  position: relative;
  bottom: 17px;
}

#carousel-example-generic:focus {
  outline: none;
}

.carousel-inner:focus {
  outline: none;
}
// OVERVIEW
.ov-pic {
  height: 525px;
  width: 620px;
  border: 1px solid #000;
}

.ov-content {
  font-family: $mainFont;
  text-align: justify;
  padding-right: 35px;
}

// SERVICES

.page-break {
  margin-top: 50px;
  padding-top: 23px;
}

.serv-cont {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

#img-pad {
  padding-bottom: 100px;
  padding-right: 20px;
}

// CONTACT MODAL
#myModal {
  font-family: $mainFont;
}

#myModalLabel {
  text-align: center;
}

.contact-info {
  text-align: center;
  padding-left: 100px;
}

.modal-body {
  text-align: center;
  background-color: #f8f8f8;
}

// PROJECTS

.prj-heading {
  text-align: center;
  height: 100%;
}





// FOOTER

footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 120px;
  font: {
    size: 12px;
    family: $mainFont;
  }
  text-align: center;
  padding-top: 38px;
}


// MEDIA QUERIES
@media (max-width: 480px) {
  .container-fluid>.navbar-header {
    position: relative;
    bottom: 4px;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    position: absolute;
    bottom: 14px;
    font-size: 23px;
  }
}

// @media (max-width: 480px) {
//   .navbar-toggle {
//     position: relative;
//     top: 45px;
//   }
// }

@media (max-width: 480px){
  .navbar-default {
    .navbar-collapse {
      position: relative;
      bottom: 10px;
      border: none;
      background-color: #f8f8f8;
      margin-top: 0;
      overflow: hidden;
      .nav>li>a {
        position: relative;
        bottom: 30px;
      }
    }
  }
}

@media (max-width: 480px){
  .navbar-nav {
    .open{
      .dropdown-menu{
        position: relative;
        bottom: 25px;
      }
    }
  }
}

@media (max-width: 480px){
  #carousel-example-generic {
    position: relative;
    top: 90px;
  }
}

@media (max-width: 480px){
  .line {
    border: none;
    padding: 25px;
  }
}

@media (max-width: 480px){
  #img-resize {
    height: 281.25px;
    width: 375px;
  }
}

@media (max-width: 480px) {
  .break-two {
    margin-top: -50px;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .contact-info {
    padding-left: 25px;
  }
}
