@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
html body {
  height: 100%;
  width: 100%;
  background-color: #b5b3b3;
  -webkit-overflow-scrolling: touch; }

.line {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  padding-bottom: 75px; }

.line:focus {
  outline: none; }

a {
  cursor: pointer;
  cursor: hand; }

header {
  background-color: #c6c6c6; }
  header nav {
    font-family: "Playfair Display", serif;
    height: 90px; }

.fadeIn {
  animation-duration: 3.5s; }

.navbar-brand {
  position: relative;
  top: 33px;
  padding-left: 45px;
  font-size: 25px; }

.navbar-nav {
  position: relative;
  top: 35px;
  font-size: 18px; }

.open .dropdown-menu {
  display: block; }

.logo {
  transform: rotate(270deg);
  height: 100px;
  width: 70px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px; }

#home-carousel {
  position: relative;
  bottom: 17px; }

#home-carousel:focus {
  outline: none; }

.carousel-inner:focus {
  outline: none; }

.ov-pic {
  height: 525px;
  width: 620px;
  border: 1px solid #000; }

.ov-content {
  font-family: "Playfair Display", serif;
  text-align: justify;
  padding-left: 17px; }

.page-break {
  margin-top: 50px;
  padding-top: 23px; }

.serv-cont {
  text-align: center; }

h3 {
  text-decoration: underline; }

#img-resize {
  width: 100%;
  height: 740px; }

#img-resize-small {
  height: 440px;
  width: 100%; }

#img-pad {
  padding-bottom: 100px;
  padding-right: 20px; }

#myModal {
  font-family: "Playfair Display", serif; }

#myModalLabel {
  text-align: center; }

.contact-info {
  text-align: center;
  padding-left: 100px; }

.modal-body {
  text-align: center;
  background-color: #f8f8f8; }

footer {
  background-color: #f8f8f8;
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 38px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  position: relative; }

.navbar-collapse.in {
  overflow-y: visible; }

.collapse.in,
.collapsing {
  background-color: #f8f8f8; }

.navbar-toggle.collapsed {
  position: relative;
  top: 20px; }

@media (max-width: 480px) {
  .container-fluid > .navbar-header {
    position: relative;
    bottom: 4px; } }
@media (max-width: 480px) {
  .navbar-brand {
    position: absolute;
    bottom: 14px;
    font-size: 23px; } }
@media (max-width: 480px) {
  .navbar-default .navbar-collapse {
    position: relative;
    bottom: 10px;
    border: none;
    background-color: #f8f8f8;
    margin-top: 0;
    overflow: hidden; }
    .navbar-default .navbar-collapse .nav > li > a {
      position: relative;
      bottom: 30px; } }
@media (max-width: 766px) {
  .navbar-nav {
    top: 0 !important; } }
@media (max-width: 480px) {
  .navbar-nav .open .dropdown-menu {
    position: relative;
    bottom: 25px; } }
@media (max-width: 480px) {
  #carousel-example-generic {
    position: relative;
    top: 90px; } }
@media (max-width: 480px) {
  .line {
    border: none;
    padding: 25px; } }
@media (max-width: 480px) {
  #img-resize {
    height: 310px;
    width: 100%; }

  #img-resize-small {
    height: 310px;
    width: 100%; } }
@media (max-width: 480px) {
  .break-two {
    margin-top: -50px;
    padding-top: 0; } }
@media (max-width: 480px) {
  .contact-info {
    padding-left: 25px; } }
@media (max-width: 480px) {
  #home-carousel {
    padding-top: 65px; } }
@media (max-width: 480px) {
  #overview {
    display: none; } }
@media (max-width: 480px) {
  .ov-pic {
    height: 225px;
    width: 320px;
    margin-left: 32px;
    margin-top: 65px; } }

/*# sourceMappingURL=style.css.map */
