<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="rose sing and associates, rose sing, educational, commercial, health care, public service, clinics, hospitals, schools, office">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/educational.css">
  <link rel="stylesheet" href="../css/commercial.css">
  <title>Rose Sing</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../index.html"><img src="../img/rsalogo2.jpg" alt="Logo" class="logo pull-left"></a>
          <a class="navbar-brand pull-left" href="../index.html">Rose Sing and Associates, Inc.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li><a href="../index.html">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="../index.html">Services</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="educational.html">Educational</a></li>
                <li><a href="commercial.html">Commercial</a></li>
                <li><a href="healthcare.html">Health Care</a></li>
                <li><a href="publicservice.html">Public Service</a></li>
              </ul>
            </li>
            <li data-toggle="modal" data-target="#myModal"><a>Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 id="myModalLabel">Contact Us</h2><br>
          <p class="contact-info pull-left">Ted Rose: <br> (559)733-2671 x101 <br> (559)733-2339 Fax <br>trose@rosesing.com</p>
          <p class="contact-info">Donnie Sing: <br> (559)733-2671 x102 <br> (559)733-0372 Fax <br>dsing@rosesing.com</p>
        </div>
        <div class="modal-body">
          <form id="contact_form" action="../php/email.php" method="POST" enctype="multipart/form-data">
          	<div class="row">
          		<label for="name">Name:</label><br>
          		<input id="name" class="input" name="name" type="text" value="" size="30"><br><br>
          	</div>
          	<div class="row">
          		<label for="email">Email:</label><br>
          		<input id="email" class="input" name="email" type="text" value="" size="30" placeholder="example@gmail.com"><br><br>
          	</div>
          	<div class="row">
          		<label for="message">Message:</label><br>
          		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br><br>
          	</div>
          	<input class="btn btn-default" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 info-header">
        <h1>Commercial Projects</h1>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 content">
      <!-- Water well and treatment projects -->
      <p class="p1"><span class="s1"><strong>WATER WELL AND TREATMENT PLANT </strong></span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF HANFORD -<span class="Apple-converted-space">&nbsp; </span>ARMONA RD &amp; 9</span><span class="s3"><sup>TH</sup></span><span class="s2"> AVE.</span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 250 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2"> &bull; Provisions for Portable Generator Connection</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> KERN COUNTY &ndash; RICHGROVE </span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well &amp; Supply System</span></p>
      <p class="p3"><span class="s2"> &bull; 200 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; Sold State Soft Start</span></p>
      <p class="p3"><span class="s2"> &bull; Stand-by Generator with Automatic Transfer Controls</span></p>
      <p class="p3"><span class="s2"> &bull; 120 HP Booster Pumps</span></p>
      <p class="p3"><span class="s2"> &bull; Treatment Plant</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> RIVERDALE PUBLIC UTILITY DISTRICT </span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 200 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; Sold State Soft Start</span></p>
      <p class="p3"><span class="s2"> &bull; Stand-by Generator with Automatic Transfer Controls</span></p>
      <p class="p3"><span class="s2"> &bull; 120 HP Booster Pumps</span></p>
      <p class="p3"><span class="s2"> &bull; Treatment Plant</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF DELANO </span></p>
      <p class="p3"><span class="s2"> Well and Arsenic Mitigation Project</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF TULARE &ndash; WELL SITE 40</span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 250 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2"> &bull; Provisions for Portable Generator Connection</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF TULARE &ndash; WELL SITE 41</span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 200 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; Sold State Soft Start</span></p>
      <p class="p3"><span class="s2"> &bull; Stand-by Generator with Automatic Transfer Controls</span></p>
      <p class="p3"><span class="s2"> &bull; 120 HP Booster Pumps</span></p>
      <p class="p3"><span class="s2"> &bull; Treatment Plant</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF HANFORD </span></p>
      <p class="p3"><span class="s2"> LS 48 &amp;<span class="Apple-converted-space">&nbsp; </span>50 Upgrades</span></p>
      <p class="p3"><span class="s2"> New Storm Sewer Pump at Lift Station 48 (Encore Basin)</span></p>
      <p class="p3"><span class="s2"> &bull; 250 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2"> &bull; Provisions for Portable Generator Connection</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF TULARE &ndash; PRATT AVE.</span></p>
      <p class="p3"><span class="s2"> Industrial Sewer Line Lift Station</span></p>
      <p class="p3"><span class="s2">100 HP Triplex Lift Station</span></p>
      <p class="p3"><span class="s2">Reduced Voltage Starting</span></p>
      <p class="p3"><span class="s2">SCAD Monitoring</span></p>
      <p class="p3"><span class="s2">Provisions for portable generator connection</span></p>
      <p class="p4">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF HANFORD &ndash; REGIONAL CONSOLIDATION OF THREE WATER SYSTEMS</span></p>
      <p class="p3"><span class="s2"> Municipal Water Well</span></p>
      <p class="p3"><span class="s2">250 HP Pump</span></p>
      <p class="p3"><span class="s2">VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2">SCAD Monitoring</span></p>
      <p class="p3"><span class="s2">Provisions for portable generator connection</span></p>
      <p class="p4">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF DELANO </span></p>
      <p class="p3"><span class="s2"> Waste Water Treatment Plant Upgrade</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> KERN COUNTY</span></p>
      <p class="p3"><span class="s2"> Lift Station Improvements &ndash; Four Sites</span></p>
      <p class="p3"><span class="s2">Replace Existing Lift Station<span class="Apple-converted-space">&nbsp; </span>Service Equipment and<span class="Apple-converted-space">&nbsp; </span>Controls</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF PIXLEY &ndash; WELL SITE #5</span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 200 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2"> &bull; Provisions for Portable Generator Connection</span></p>
      <p class="p3"><span class="s2"> &bull; Remote Monitoring and Control System</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p3"><span class="s2"> CITY OF PIXLEY &ndash; WELL SITE #6 and Tank Site</span></p>
      <p class="p3"><span class="s2"> New Municipal Water Well</span></p>
      <p class="p3"><span class="s2"> &bull; 200 HP Pump</span></p>
      <p class="p3"><span class="s2"> &bull; VFD Controlled with Soft Start Bypass</span></p>
      <p class="p3"><span class="s2"> &bull; Provisions for Portable Generator Connection</span></p>
      <p class="p3"><span class="s2"> &bull; Remote Monitoring and Control System</span></p>
      <p class="p3"><span class="s2"> &bull; Remote Tank Site With Booster Pumps</span></p><br><br>
      <!-- Industrial Projects -->
      <p class="p1"><span class="s1"><strong>INDUSTRIAL PROJECTS</strong></span></p><br><br>
      <p class="p3"><span class="s2">Lufkin Industries</span></p>
      <p class="p3"><span class="s2">Multi-function service center</span></p>
      <p class="p3"><span class="s2">Bakersfield, CA</span></p><br>
      <p class="p3"><span class="s2">Halliburton</span></p>
      <p class="p3"><span class="s2">Consolidation Project (Office Building, Shop, Repair shop and Coil
      Tubing, Cementing Bulk Plant and Truck Wash)</span></p>
      <p class="p3"><span class="s2">Bakersfield, CA</span></p><br>
      <p class="p3"><span class="s2">Occidental of Elk Hills</span></p>
      <p class="p3"><span class="s2">New 38,000 sq. ft. consolidated control facility</span></p>
      <p class="p3"><span class="s2">Bakersfield, CA</span></p><br>
      <p class="p3"><span class="s2">Tulare Irrigation District</span></p>
      <p class="p3"><span class="s2">Maintenance and operations facility</span></p>
      <p class="p3"><span class="s2">Tulare, CA</span></p><br>
      <p class="p3"><span class="s2">Paramount Farms</span></p>
      <p class="p3"><span class="s2">Citrus facility (400,000 Sq. Ft. Processing Plant/Cold
      Storage and 21,000 Sq. Ft. Office Area)</span></p>
      <p class="p3"><span class="s2">Delano, CA</span></p><br>
      <p class="p3"><span class="s2">Del Monte Foods</span></p>
      <p class="p3"><span class="s2">12 KV distribution system upgrade</span></p>
      <p class="p3"><span class="s2">Hanford, CA</span></p><br>
      <p class="p3"><span class="s2">AT&T</span></p>
      <p class="p3"><span class="s2">New 12 KV service and 10 MW stand-by system</span></p>
      <p class="p3"><span class="s2">San Jose, CA</span></p><br>
      <p class="p3"><span class="s2">AT&T</span></p>
      <p class="p3"><span class="s2">4.16 KV stand-by and transfer system</span></p>
      <p class="p3"><span class="s2">San Francisco, CA</span></p><br>
      <p class="p3"><span class="s2">Calgren Ethanol Plant</span></p>
      <p class="p3"><span class="s2">12 KV distribution system</span></p>
      <p class="p3"><span class="s2">Pixley, CA</span></p><br>
      <!-- Communication facilities section  -->
      <p class="p1"><span class="s1"><strong>COMMUNICATION FACILITIES </strong></span><span class="s1"><strong>WITH STANDBY GENERATOR &amp; TRANSFER SCHEMES&nbsp;</strong></span><span class="s1"><strong>2005 - 2009</strong></span></p><br>
      <p class="p1"><span class="s1">A T &amp; T -Auburn - 1125 Lincoln Wy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-3221 So. &ldquo;H&rdquo; St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-1918 &ldquo;M&rdquo; St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-Bear Valley Road</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield, Rosedale Hwy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-20</span><span class="s2"><sup>th</sup></span><span class="s1"> Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-3501 Columbus Ave</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-Maricopa Hwy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Bakersfield-Weedpatch Hwy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Big Sur-</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Boulder Creed-145 E. Forest St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Cambria-4135 Bridge St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Camp Nelson-2045 Nelson Dr.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Castroville-</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Cayucos-65 13</span><span class="s2"><sup>th</sup></span><span class="s1"> Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Clovis-5555 Olive Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Del Rey-5554 S. Weldwood</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Delano-925 Jefferson</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Earlimart-Market &amp; Franklin Sts.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Felton-6206 Highway 9</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Folsom-12700 Folsom Blvd.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Frazier Peak-3645 Mt.Pinos Wy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Fremont-</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Fresno-4309 N. Polk</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Fresno-Orange Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Fresno-Sierra St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Fresno-Van Ness St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Half Moon Bay-525 Kelly Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Hanford-</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Hercules-1540 Sycamore Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Ivanhoe-15867 Ave 328</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Kingsburg-1431 Marion St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Layton-20834 S. Del Rio St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Lebec-30655 Golden St. Hwy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Los Banos-5 West &ldquo;J&rdquo; St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Merced-1870 Wardrobe Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Monterey-Franklin St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Moss Beach-Etheldor St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T --Newman-892 &ldquo;N&rdquo; St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Nipomo-226 W. Dana St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Oakland-Fruitvale Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Porterville-Hockett St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Rosamond-0 Glendower</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Salinas-San Juan Grade Road</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -San Carlos-537 Laurel St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -San Francisco-25</span><span class="s2"><sup>th</sup></span><span class="s1"> Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -San Jose-95 Almaden</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -San Mateo-23 28</span><span class="s2"><sup>th</sup></span><span class="s1"> Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Santa Clara-Space Park Drive</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Selma-2021 Orange Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -SLO-Morro Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Springville-35529 St Hwy 99</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Stallion Springs-27737 Banducci </span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Stratford-19643 Cross St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Sunnyvale-234 Carroll St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Templeton-513 Main St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Tres Pinos-6921 Airline Hwy</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Tulare-140 No. &ldquo;L&rdquo; St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Visalia-8945 Goshen Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Visalia-Acequia St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Wasco-814 6</span><span class="s2"><sup>th</sup></span><span class="s1"> St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -Watsonville-340 Rodriguez St.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">Kings County Office of Education - Technology Towers @ 22 Sites</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1">A T &amp; T -220 /Cellular Sites Along the Hwy 99 and I-5 Corridor.</span></p><br>
      <!-- Kern County Projects -->
      <p class="p1"><span class="s1"><strong>COUNTY OF KERN PROJECTS&nbsp;</strong></span><span class="s2">2010 - 2015</span></p><br>
      <p class="p1"><span class="s1"><strong>BAKERSFIELD</strong></span></p><br>
      <p class="p1"><span class="s1">Cooling Tower Replacement</span></p><br>
      <p class="p1"><span class="s1"> Provide New Electrical Design</span></p>
      <p class="p1"><span class="s1"> 1115 Truxtun Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Department of Veterans Affairs</span></p>
      <p class="p1"><span class="s1"> Tenant Improvements</span></p>
      <p class="p1"><span class="s1"> 1110 Golden State Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Kern County Sheriff&rsquo;s Department</span></p>
      <p class="p1"><span class="s1"> IT AC Upgrade</span></p>
      <p class="p1"><span class="s1"> 1115 Truxtun Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Ballot/Elections Equipment</span></p>
      <p class="p1"><span class="s1"> Elections-Pitney Bowes &amp; HVAC Units</span></p>
      <p class="p1"><span class="s1"> Electrical Connections</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> County Jury Services/Public Defender</span></p>
      <p class="p1"><span class="s1"> and Courts Building #1 and #2</span></p>
      <p class="p1"><span class="s1"> 12 KV System Upgrade-Phase I &amp; Phase 2</span></p>
      <p class="p1"><span class="s1"> 1415 Truxtun Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Justice Building</span></p>
      <p class="p1"><span class="s1"> Replace Existing Fire Alarm System</span></p>
      <p class="p1"><span class="s1"> 1215 Truxtun Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Kern County Medical Center-D Wing</span></p>
      <p class="p1"><span class="s1"> Isolation Exhaust Fan</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Public Service Building</span></p>
      <p class="p1"><span class="s1"> HVAC Replacement</span></p>
      <p class="p1"><span class="s1"> Connect of Temporary Chiller &amp; Cooling System</span></p>
      <p class="p1"><span class="s1"> 2700 &ldquo;M&rdquo; Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Buena Vista Aquatic Recreation Area</span></p>
      <p class="p1"><span class="s1"> WWTP Rehab. Phase II &amp; Phase III</span></p>
      <p class="p1"><span class="s1"> New Electrical Services to Lift Station No. 3</span></p>
      <p class="p1"><span class="s1">EOC Center Campus</span></p>
      <p class="p1"><span class="s1"> Annex Improvements</span></p>
      <p class="p1"><span class="s1"> Grounding System Review</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> County Administration Center</span></p>
      <p class="p1"><span class="s1"> Parking Structure - Phase II</span></p>
      <p class="p1"><span class="s1"> Security System Upgrade Project</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Animal Control Center</span></p>
      <p class="p1"><span class="s1"> Relocation</span></p>
      <p class="p1"><span class="s1"> 3951 Fruitvale Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> County Sherriff Department</span></p>
      <p class="p1"><span class="s1"> Cooling Tower Replacement</span></p>
      <p class="p1"><span class="s1"> 1350 Norris Road</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Public Service Building</span></p>
      <p class="p1"><span class="s1"> Fire Alarm System Equipment Replacement</span></p>
      <p class="p1"><span class="s1"> 1101 Golden State Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Administration Center</span></p>
      <p class="p1"><span class="s1"> Security Enhancements to South Lot Lighting</span></p>
      <p class="p1"><span class="s1"> 14</span><span class="s2"><sup>th</sup></span><span class="s1"> and Eye Street</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Animal Services Surgical Center</span></p>
      <p class="p1"><span class="s1"> Electrical Systems to Support Surgical </span></p>
      <p class="p1"><span class="s1"> and Prep Room Equipment</span></p>
      <p class="p1"><span class="s1"> 3951 Fruitvale Ave.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> Pioneer Spray Park</span></p>
      <p class="p1"><span class="s1"> Develop New Electrical Design </span></p>
      <p class="p1"><span class="s1"> Pioneer Dr.</span></p>
      <p class="p2">&nbsp;</p>
      <p class="p2">&nbsp;</p>
      <p class="p1"><span class="s1"> County Administration Office</span></p>
      <p class="p1"><span class="s1"> Fifth Floor Office Remodel</span></p>
      <p class="p1"><span class="s1"> 1115 Truxtun Ave.</span></p><br>
      <p class="p1"><span class="s1"><strong>ALTA SIERRA</strong></span></p><br>
      <p class="p1"><span class="s1">Greenhorn Mountain Park</span></p>
      <p class="p1"><span class="s1"> New Water Well</span></p>
      <p class="p1"><span class="s1"> New Electrical Design</span></p><br>
      <p class="p1"><span class="s1"><strong>RIDGECREST</strong></span></p><br>
      <p class="p1"><span class="s1">Administration Building</span></p>
      <p class="p1"><span class="s1"> Installation of New Automated Doors</span></p>
      <p class="p1"><span class="s1"> 400 Highway 178</span></p><br>
      <p class="p1"><span class="s1"><strong>MT. MESA</strong></span></p><br>
      <p class="p1"><span class="s1">Kern River Valley </span></p>
      <p class="p1"><span class="s1"> Mt. Mesa Park Restroom </span></p>
      <p class="p1"><span class="s1"> Electrical Services for New Restroom</span></p><br>
      <p class="p1"><span class="s1"><strong>LAMONT</strong></span></p><br>
      <p class="p1"><span class="s1">Lamont Park Walking Path</span></p>
      <p class="p1"><span class="s1"> New Light Fixtures To Exercise Area</span></p><br>
    </div>
    <div class="col-md-6">
      <div id="education-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#education-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#education-carousel" data-slide-to="1"></li>
          <li data-target="#education-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="../img/structure.jpg" alt="..." id="img-resize-small">
          </div>
          <div class="item">
            <img src="../img/box.jpg" alt="..." id="img-resize-small">
          </div>
          <div class="item">
            <img src="../img/crane.jpg" alt="..." id="img-resize-small">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#education-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#education-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Rose Sing and Associates, Inc.</p>
          <p>131 S. Dunworth St., Visalia, CA 93292-6705</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="email.php"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../js/mail.js"></script>
  <script src="../js/stopMail.js"></script>
  <script src="../js/scrolls.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
